In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
plt.rcParams['font.size'] = 14
%matplotlib inline
pd.set_option('display.max_columns',50)

In [2]:
# open the chicago Marathon data
rdata = pd.read_csv('ChicagoMarathon_results.csv')
rdata.pop('Unnamed: 0')
rdata.head()

,Place Overall,Place Gender,Place Division,Name (CTZ),"City, State",BIB,Division,Age,HALF,Finish,Gender,start_time,mph05,mph10,mph15,mph20,mphHalf,mph25,mph30,mph35,mph40,mphFinal,mk05,mk10,mk15,mk20,mkHalf,mk25,mk30,mk35,mk40,mkFinal,t05k,t10k,t15k,t20k,tHalf,t25k,t30k,t35k,t40k,tFinal
0,1,1,1.0,"» Kirui, Abel (KEN)",NaN,3,30-34,34.0,01:06:51,02:11:23,Male,07:30:03,11.58,11.69,11.92,12.10,11.00,12.25,11.49,12.25,12.64,12.69,5.183333,5.150000,5.033333,4.966667,5.466667,4.900000,5.233333,4.900000,4.750000,4.733333,967.0,1924.0,2863.0,3788.0,4011.0,4724.0,5697.0,6611.0,7496.0,7883
1,2,2,1.0,"» Chumba, Dickson (KEN)",NaN,1,25-29,29.0,01:06:51,02:11:26,Male,07:30:03,11.57,11.69,11.91,12.09,11.03,12.24,11.49,12.25,12.63,12.59,5.200000,5.133333,5.050000,4.966667,5.450000,4.916667,5.233333,4.900000,4.766667,4.783333,967.0,1924.0,2863.0,3789.0,4011.0,4724.0,5698.0,6611.0,7496.0,7886
2,3,3,1.0,"» Kipketer, Gideon (KEN)",NaN,7,20-24,23.0,01:06:51,02:12:20,Male,07:30:03,11.58,11.69,11.92,12.09,10.97,12.26,11.49,12.25,12.30,11.68,5.183333,5.133333,5.050000,4.966667,5.483333,4.900000,5.233333,4.900000,4.883333,5.150000,967.0,1924.0,2862.0,3787.0,4011.0,4724.0,5697.0,6611.0,7520.0,7940
3,4,4,2.0,"» Lonyangata, Paul (KEN)",NaN,6,20-24,24.0,01:06:51,02:13:17,Male,07:30:03,11.57,11.69,11.92,12.08,11.07,12.25,11.49,12.24,11.60,11.69,5.200000,5.150000,5.033333,4.983333,5.433333,4.900000,5.233333,4.916667,5.183333,5.133333,967.0,1924.0,2863.0,3789.0,4011.0,4724.0,5698.0,6612.0,7576.0,7997
4,5,5,2.0,"» Sambu, Stephen (KEN)",NaN,8,25-29,28.0,01:06:51,02:13:35,Male,07:30:03,11.56,11.64,11.97,12.09,11.08,12.12,11.57,11.95,11.65,11.70,5.200000,5.166667,5.016667,4.966667,5.416667,4.966667,5.200000,5.033333,5.166667,5.133333,968.0,1929.0,2864.0,3789.0,4011.0,4731.0,5699.0,6635.0,7596.0,8015

In [3]:
mph_data = ['mph05','mph10','mph15','mph20','mphHalf','mph25','mph30','mph35','mph40','mphFinal']
mk_data = ['mk05','mk10','mk15','mk20','mkHalf','mk25','mk30','mk35','mk40','mkFinal']

In [12]:
rundata = rdata.copy()
#rundata = rundata.drop('mph05')
rundata.head()
#for elem in mph_data:
#    rundata = rundata.pop(elem)
#for elem in mk_data:
#    rundata = rundata.pop(elem)
#rundata.head()

,Place Overall,Place Gender,Place Division,Name (CTZ),"City, State",BIB,Division,Age,HALF,Finish,Gender,start_time,mph05,mph10,mph15,mph20,mphHalf,mph25,mph30,mph35,mph40,mphFinal,mk05,mk10,mk15,mk20,mkHalf,mk25,mk30,mk35,mk40,mkFinal,t05k,t10k,t15k,t20k,tHalf,t25k,t30k,t35k,t40k,tFinal
0,1,1,1.0,"» Kirui, Abel (KEN)",NaN,3,30-34,34.0,01:06:51,02:11:23,Male,07:30:03,11.58,11.69,11.92,12.10,11.00,12.25,11.49,12.25,12.64,12.69,5.183333,5.150000,5.033333,4.966667,5.466667,4.900000,5.233333,4.900000,4.750000,4.733333,967.0,1924.0,2863.0,3788.0,4011.0,4724.0,5697.0,6611.0,7496.0,7883
1,2,2,1.0,"» Chumba, Dickson (KEN)",NaN,1,25-29,29.0,01:06:51,02:11:26,Male,07:30:03,11.57,11.69,11.91,12.09,11.03,12.24,11.49,12.25,12.63,12.59,5.200000,5.133333,5.050000,4.966667,5.450000,4.916667,5.233333,4.900000,4.766667,4.783333,967.0,1924.0,2863.0,3789.0,4011.0,4724.0,5698.0,6611.0,7496.0,7886
2,3,3,1.0,"» Kipketer, Gideon (KEN)",NaN,7,20-24,23.0,01:06:51,02:12:20,Male,07:30:03,11.58,11.69,11.92,12.09,10.97,12.26,11.49,12.25,12.30,11.68,5.183333,5.133333,5.050000,4.966667,5.483333,4.900000,5.233333,4.900000,4.883333,5.150000,967.0,1924.0,2862.0,3787.0,4011.0,4724.0,5697.0,6611.0,7520.0,7940
3,4,4,2.0,"» Lonyangata, Paul (KEN)",NaN,6,20-24,24.0,01:06:51,02:13:17,Male,07:30:03,11.57,11.69,11.92,12.08,11.07,12.25,11.49,12.24,11.60,11.69,5.200000,5.150000,5.033333,4.983333,5.433333,4.900000,5.233333,4.916667,5.183333,5.133333,967.0,1924.0,2863.0,3789.0,4011.0,4724.0,5698.0,6612.0,7576.0,7997
4,5,5,2.0,"» Sambu, Stephen (KEN)",NaN,8,25-29,28.0,01:06:51,02:13:35,Male,07:30:03,11.56,11.64,11.97,12.09,11.08,12.12,11.57,11.95,11.65,11.70,5.200000,5.166667,5.016667,4.966667,5.416667,4.966667,5.200000,5.033333,5.166667,5.133333,968.0,1929.0,2864.0,3789.0,4011.0,4731.0,5699.0,6635.0,7596.0,8015

In [33]:
rundata.pop('mk10')
rundata.head()

,Place Overall,Place Gender,Place Division,Name (CTZ),"City, State",BIB,Division,Age,HALF,Finish,Gender,start_time,t05k,t10k,t15k,t20k,tHalf,t25k,t30k,t35k,t40k,tFinal
0,1,1,1.0,"» Kirui, Abel (KEN)",NaN,3,30-34,34.0,01:06:51,02:11:23,Male,07:30:03,967.0,1924.0,2863.0,3788.0,4011.0,4724.0,5697.0,6611.0,7496.0,7883
1,2,2,1.0,"» Chumba, Dickson (KEN)",NaN,1,25-29,29.0,01:06:51,02:11:26,Male,07:30:03,967.0,1924.0,2863.0,3789.0,4011.0,4724.0,5698.0,6611.0,7496.0,7886
2,3,3,1.0,"» Kipketer, Gideon (KEN)",NaN,7,20-24,23.0,01:06:51,02:12:20,Male,07:30:03,967.0,1924.0,2862.0,3787.0,4011.0,4724.0,5697.0,6611.0,7520.0,7940
3,4,4,2.0,"» Lonyangata, Paul (KEN)",NaN,6,20-24,24.0,01:06:51,02:13:17,Male,07:30:03,967.0,1924.0,2863.0,3789.0,4011.0,4724.0,5698.0,6612.0,7576.0,7997
4,5,5,2.0,"» Sambu, Stephen (KEN)",NaN,8,25-29,28.0,01:06:51,02:13:35,Male,07:30:03,968.0,1929.0,2864.0,3789.0,4011.0,4731.0,5699.0,6635.0,7596.0,8015

In [34]:
rundata.to_csv("MarathonResults2016.csv",sep=",")